html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div {
	width: 33.33%;
    height: 100%;
	float: left;
}

.blue {
    background-color: dodgerblue;
}

.green {
    background-color: aqua;
}

.yellow {
    background-color: yellowgreen;
    width: 100%;
    height: 75%;
}

.cornerImage {
    width: 100%;
    height: 25%;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 50px;
    box-sizing: border-box;
}